.addbutton{
    padding: 0;
    border: none;
    background: none;
    padding-left: 5px;
    margin: auto;
}

h2 {
    color: #e67900;
    font-family: "Arial";
}

h3 {
    font-family: "Arial";
    font-size: 18px;
}

#trackNum {
    margin-top: 0;
}

h4 {
    padding: 0;
    color: #dc6303;
    font-size: 18px;
    font-family: "Arial";
}

.rmvbtn {
    padding: 0;
    border: none;
    background: none;
    padding-left: 20%;
    margin: auto;
}

.mapbtn {
    padding: 0;
    border: none;
    background: none;
    padding-left: 10%;
    margin: auto;
}


p {
    font-family: "sans-serif";
}

.addbuttontext {
    margin: auto;
    color: #2dca44;
}

.mapbtntext {
    margin: auto;
    color: #dc6303;
}

.rmvbtntext {
    margin: auto;
    color: #dc6303;
}

.clearbutton {
    padding: 0;
    background: none;
    border: none;
}

.dropdown {
    position: absolute;
    right: 10px;
}

.datdiv {
    position: relative;
}

.package {
    border-radius: 25px;
    padding-top: -1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid;
    /*padding: 10px;*/
    box-shadow: 5px 5px #888888;
}



.packagedetail {
    font-weight: bold;
}

.statusimg {
    padding: 0;
    margin: 0;
}
