.addbutton{
    padding: 0;
    border: none;
    background: none;
    padding-left: 5px;
    margin: auto;
}

h2 {
    color: #e67900;
    font-family: "Arial";
}

h3 {
    font-family: "Arial";
    font-size: 18px;
}

#trackNum {
    margin-top: 0;
}

h4 {
    color: #dc6303;
    font-size: 18px;
    font-family: "Arial";
}

.messagebtn{
    padding: 0;
    border: none;
    left: 30%;
    position: relative;
    margin: auto;
}

.rmvbtn {
    padding: 0;
    border: none;
    left: 15%;
    position: relative;
    margin: auto;
}

.mapbtn {
    padding: 0;
    border: none;
    left: 0%;
    position: relative;
    margin: auto;
}

.logbtn {
    height: 25px;
    width: 25px;
    padding-left: 5px;
    margin: auto;
}

p {
    font-family: "sans-serif";
}

.addbuttontext {
    margin: auto;
    color: #2dca44;
}

.mapbtntext {
    margin: auto;
    color: #dc6303;
}

.rmvbtntext {
    margin: auto;
    color: #dc6303;
}

.smsbtntext {
    margin: auto;
    color: #dc6303;
}

.clearbutton {
    padding: 0;
    border: none;
}
