.hidden {
    display: none;
}

.shown {
    display: block;
}

.buttonline {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#logs {
    margin-top: 25px;
}

#deliLogs {
    margin-left: 10px;
}

#intrLogs {
    margin-left: 10px;
}

#formdiv {
    height: 200px;
}

body {
    background-color: #e4e4e4;
}